@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: slategray;
    font-family:'indie flower', sans-serif ;
}

#submit-btn {
    visibility: hidden;
}

#box {
    height: 0px;
    width: 0px;
    background-color: red;
}

