/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


/* defualts */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-family: 'indie flower', sans-serif;
}

#flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#left-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */
h1 {
    font-family: 'special elite', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 25px 0 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* code taken from here https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    animation: color-change 10s infinite;
}

/* Animation for header colour change */
@keyframes color-change {
    0% {
        color: rgb(241, 107, 107);
    }

    33% {
        color: rgb(122, 196, 245);
    }

    66% {
        color: rgb(125, 243, 109);
    }

    100% {
        color: rgb(241, 107, 107);
    }

}

/* Rules*/
#rule-area {
    width: 600px;
    height: 800px;
    margin-left: 1em;
    background: url(../images/clipboard.png)no-repeat;
    background-size: cover;
    text-align: center;
}

#rule-area h2 {
    padding-top: 1.5em;
    font-size: 4em;
}

#rules {
    font-size: 1.5em;
    padding: 0 2.25em 0 5em;
}

#rules-exit {
    visibility: hidden;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 2em;
    position: relative;
    top: 4em;
    left: 16em;
}

.eg {
    color: orange;
}

#rule-dropbox {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    visibility: hidden;
}

.fa-chevron-down {
    cursor: pointer;
}

/* Options Box*/
#options-area {
    height: 225px;
    font-size: 1.4em;
    padding: 1.5em 0 0 1.5em;
    background: url(../images/box.png)no-repeat;
    background-size: 700px 250px;
}

input {
    cursor: pointer;
}

input:disabled {
    cursor: default;
}

#mute-area {
    float: right;
    padding-right: 4em;
}

#difficulty input {
    margin-right: 1em;
    margin-top: 1.5em;
}

#difficulty-options {
    font-weight: bold;
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

ul li {
    display: inline;
}

#points {
    margin-top: .5em;
    font-weight: bold;
}

/* Game Box*/
#game-area {
    width: 700px;
    height: 600px;
    font-size: 2.5em;
    font-weight: bold;
    padding: 1em 0 0 0;
    background: url(../images/box.png)no-repeat;
    background-size: 700px 600px;
    text-align: center;
}

.blue {
    color: darkblue;
}

#start-btn {
    font-family: 'Indie Flower';
    font-size: 1em;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%);
    padding: .2em;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: darkgray;
}

#start-btn:disabled {
    cursor: default;
    background-color: white;
}

#question {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.5em;
}

#cond2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* code taken from here https://stackoverflow.com/questions/4919076/outline-effect-to-text */
}

#answer {
    font-size: 1.5em;
    font-family: inherit;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%);
}

#timer {
    margin-top: .5em;
}

#game-time {
    color: darkred;
}

#score {
    color: darkgreen;
}

#highscore {
    color: darkblue;
}

.score {
    display: inline-block;
    margin-right: 1em;
}

/* Feedback */
#feedback-area {
    visibility: hidden;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    background: url(../images/box.png)no-repeat;
    background-size: 600px 400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback {
    font-size: 3em;
    text-align: center;
    padding: 0 1em;
}

#feedback-exit {
    font-size: 2em;
    float: right;
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}

/* Animation for background when highscore beaten */
@keyframes background-color-change {
    0% {
        background-color: rgb(241, 107, 107);
    }

    33% {
        background-color: rgb(122, 196, 245);
    }

    66% {
        background-color: rgb(125, 243, 109);
    }

    100% {
        background-color: rgb(241, 107, 107);
    }
}

/* Invisible box. Used in script to determine if game is running */
#box {
    height: 0px;
    width: 0px;
    background-color: red;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

footer p {
    padding-top: 5px;
}

#social-links {
    font-size: 48px;
    margin-left: .25em;
}

.fab {
    color: black;
}

/* Media Queries */

@media screen and (max-width: 1490px) {

    /* defaults */
    #left-flex {
        font-size: 80%;
    }

    /* Rules */
    .fa-chevron-down {
        margin-top: 5px;
    }

    #rule-area {
        visibility: hidden;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }

    #rule-dropbox {
        visibility: visible;
    }

    /* Options Box*/
    #options-area {
        background-size: 700px 205px;
        height: 205px;
    }

    /* Game Box*/
    #game-area {
        background-size: 700px 500px;
        height: 500px;
    }
}

@media screen and (max-width: 700px) {

    /* Defaults */
    h1 {
        font-size: 5em;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 60%;
    }

    #left-flex {
        width: 100%;
        margin-left: 10px;
    }

    /* Rules */
    #rule-dropbox {
        font-size: 3em;
    }

    .fa-chevron-down {
        margin-top: 3px;
    }

    #rule-area {
        cursor: pointer;
        width: 90%;
        height: 75%;
        background-size: 100% 475px;
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #rule-area h2 {
        padding-top: 15%;
    }

    #rules {
        padding: 0 10% 0 20%;
        text-align: center;
    }

    #rules-exit {
        visibility: hidden;
    }

    /* Options Box*/
    #options-area {
        padding: 0;
        background-size: 97% 260px;
        width: 100%;
        height: 270px;
        font-size: 2em;
    }

    #mute-area {
        position: relative;
        top: 20px;
    }

    #difficulty {
        margin: 20px 0 0 25px;
    }

    #difficulty input {
        margin-right: 0;
    }

    ul li {
        display: block;
    }

    /* Game Box*/
    #game-area {
        margin: 0 10px 0 0;
        padding-top: 20px;
        background-size: 97% 310px;
        height: 300px;
        width: 100%;
    }

    #cond2 {
        font-size: 1.5em;
        ;
    }

    #question,
    #answer {
        margin-right: 10px;
        margin-bottom: 0;
        ;
    }

    /* Footer */
    
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        padding-top: 0;
    }
    
    #social-links {
        margin-left: 0;;
    }

    /* Feedback */
    #feedback-area {
        height: 210px;
        width: 100%;
        background-size: 100% 210px;
        cursor: pointer;
    }

    #feedback-exit {
        visibility: hidden;
    }
}